<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="./css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <div class="titulo-form">INSCRIÇÃO CONFIRMADA</div>
            <h:panelGroup style="text-align: left; margin-bottom: 10px;" layout="block">
            	<h:panelGroup styleClass="form-block" layout="block">
            		<h:outputLabel for="nome" value="Prezado(a)"/>
            		<h:outputText id="nome" value="#{inscricaoBean.candidato.nome}" />
            	</h:panelGroup>
            	<h:panelGroup styleClass="form-block" layout="block">
	            	Seguem os dados da sua incsrição
            	</h:panelGroup>
            	<h:panelGroup styleClass="form-block" layout="block">
            		<h:outputLabel for="idioma" value="Idioma Escolhido"/>
            		<h:outputText id="idioma" value="#{inscricaoBean.candidato.idioma.descricao}" />
            	</h:panelGroup>
            	<h:panelGroup styleClass="form-block" layout="block">
            		<h:outputLabel for="cpf" value="CPF"/>
            		<h:outputText id="cpf" value="#{inscricaoBean.candidato.cpf}" />
            	</h:panelGroup>
            	<h:panelGroup styleClass="form-block" layout="block">
            		<h:outputLabel for="datahora" value="Data/Hora"/>
            		<h:outputText id="datahora" value="#{inscricaoBean.candidato.dataHora}" />
            	</h:panelGroup>
            </h:panelGroup>
            <h:commandButton value="Voltar" action="inscricao"/>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
